@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.card {
  padding: 10px 12px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: fit-content;
  max-width: 560px;
  font-family: 'Manrope', sans-serif;
  font-weight: inherit;
  font-size: inherit;
}